QPushButton{
    border-style:solid;
    padding: 5px;
    border: 5px;
    border-radius:8px;
    color: #E6F8F5;
    background: #D34E69;
}

QPushButton:hover{
    color:#FFFFFF;
    background:#BE304D;
}

QPushButton:pressed{
    color:#A7EEE6;
    background:#D34E69;
}