QPushButton{
    border-style:solid;
    padding: 5px;
    border: 5px;
    border-radius:8px;
    color: #E6F8F5;
    background: #38b9fd;
}

QPushButton:hover{
    color:#FFFFFF;
    background:#4f8dfe;
}

QPushButton:pressed{
    color:#A7EEE6;
    background:#38b9fd;
}